@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.slick-slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.news-card {
  width: 100% !important;
  height: 720px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.news-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.news-card img.grayscale {
  filter: grayscale(100%);
}

.news-card:hover img.grayscale {
  filter: grayscale(0%);
}

.news-card .register-btn:hover {
  background-color: #F9920A; 
}

.news-card .read-more:hover {
  color: #F9920A;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.custom-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.custom-prev,
.custom-next {
  color: #00334D; 
  transition: color 0.3s ease, transform 0.3s ease;
  margin: 0 10px;
}

.custom-prev:hover,
.custom-next:hover {
  color: #F9920A;
  transform: scale(1.5); 
}

.testimonial-card {
  width: 100%;
  height: 500px; 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.video-carousel {
  width: 100%;
  height: 100px;
}

.video-container {
  width: 100%;
  height: 100%;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flag-image {
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  object-fit: cover;
}

.colors---- {
  background-color: #00334D #F9920A;
}

.container-main {
  width: 80%;
}

/* ----------- main styles ------------- */

h1 {
  font-size: 28px;
  line-height: 1.2;
}

h2 {
  font-size: 24px; 
  line-height: 1.2;
}

p {
  font-size: 14px; 
  line-height: 1.5;
}

.ql-size-huge {
  font-size: 52px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }

  .ql-size-huge {
    font-size: 60px;
  }  
}

@media (min-width: 1024px) {
  h1 {
    font-size: 50px; 
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 16px; 
  }

  .ql-size-huge {
    font-size: 70px;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
  }

  .ql-size-huge {
    font-size: 70px;
  }
}